@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Outfit:wght@500&display=swap');

#root, html, body{
    margin: 0;
    padding: 0;
    height: max-content;
    box-sizing: border-box;
    background-image: linear-gradient(45deg, #ff7e5f, #feb47b, #ffdc88, #9df3c4);

    font-family: "Mukta", sans-serif;

}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text{
    text-align: center;
    margin-top: 40px;
    gap: 5px;
}

.card{
    background-color: #FFD166;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 2%;
    box-shadow: 10px;
    margin: auto;
    height: 180px;
    margin-top: 200px;
    text-align: center;
}

.heading{
    display: flex;
    align-items: center;
    height: 580px;
    /*font-family*/

}

.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 300px;
    width: 200px;
    opacity: 1;
    background-color: beige;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
    
  .button span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
    
  .button:hover {
    animation: rotate 0.7s ease-in-out both;
  }
    
  .button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }

  .footer {
    font-family: "Mukta", sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
  }
  
  .footer a {
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .footer span {
    font-size: 18px;
    font-family: "Mukta", sans-serif;

  }
    
    
  @keyframes rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
    
  @keyframes storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }  
  
  @media only screen and (max-width: 600px) {
    .card {
        width: 80%;
        height: 30%;
    }
  }